<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.et" />
	

	<mvc:annotation-driven />  <!-- 支持spring3.0新的mvc注解 -->
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="cacheSeconds" value="0" />
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
			</list>
		</property>
	</bean>
	<!-- 配置SpringMvc的拦截器 -->
	<mvc:interceptors>
		<!-- 请求权限拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/> <!-- 模糊拦截 -->
			<mvc:exclude-mapping path="/img/**"/> <!-- 不拦截的url -->
			<mvc:exclude-mapping path="/css/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/plugins/**"/>
			<mvc:exclude-mapping path="/fonts/**"/>
			<mvc:exclude-mapping path="/*login.do"/>
			<mvc:exclude-mapping path="/*logout.do"/>
			<bean id="permissionInterceptor" class="com.et.web.interceptor.PermissionInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"  p:suffix= ".jsp" p:prefix="/WEB-INF/jsp/" >
		<!-- 如果用jstl,那么就要把下面的打开 -->
		<!-- <property name="viewClass"  value="org.springframework.web.servlet.view.JstlView" /> -->
	</bean>
    <!-- 多文件上传配置 -->
	<bean id="multipartResolver" class="com.et.web.listener.CommonsMultipartResolverExt" p:defaultEncoding="utf-8" >
		<property name="maxUploadSize">
			<value>104857600</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean> 
</beans>
