<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 如果在接口绑定里面,接口里面不写Sql语句,sql写在当前映射文件,那么namespace必须是接口的全路径名 -->
<mapper namespace="com.et.mapper.system.SysUserMapper">
    <resultMap id="sysUserMap" type="sysUser">
		<id property="id" column="ID" />
		<id property="userName" column="USER_NAME" />
		<id property="realName" column="REAL_NAME" />
		<id property="memberId" column="MEMBER_ID" />
		<id property="status" column="STATUS" />
		<id property="jobTitle" column="JOB_TITLE" />
		<id property="mail" column="MAIL" />
		<id property="pwd" column="PWD" />
		<id property="photoUrl" column="PHOTO_URL" />
		<id property="token" column="TOKEN" />
		<id property="personalQQ" column="PERSONAL_QQ" />
		<id property="enterpriseQQ" column="ENTERPRISE_QQ" />
		<id property="phone" column="PHONE" />
		<id property="workPhone" column="WORK_PHONE" />
		<id property="extension" column="EXTENSION" />
		<id property="superiorId" column="SUPERIOR_USER_ID" />
		<id property="superiorName" column="SUPERIOR_NAME" />
		<id property="deptName" column="DEPT_NAME" />
		<id property="deviceToken" column="DEVICE_TOKEN" />
		<id property="creatorId" column="creator_id" />
		<id property="creatorDate" column="creator_date" />
		<id property="updateId" column="update_id" />
		<id property="updateDate" column="update_date" />
	</resultMap>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="sysUserMap">
		<![CDATA[SELECT * FROM SYS_USER ]]>
	</select>
	<!-- 根据条件分页查询 mysql -->
	<select id="findPage" resultMap="sysUserMap" parameterType="sysUser">
	<if test="page != -1">
	SELECT D.* FROM (SELECT T.*, ROWNUM RN FROM (
	</if>
    SELECT * FROM SYS_USER A
		<where>
			<trim>
				<if test="userName != null and userName !=''">
					AND A.USER_NAME LIKE '%${userName}%'
				</if>
				<if test="realName != null and realName !=''">
					AND A.REAL_NAME LIKE '%${realName}%'
				</if>
				<if test="deptName != null and deptName !=''">
					AND A.DEPT_NAME LIKE '%${deptName}%'
				</if>
				<if test="memberId != null and memberId !=''">
					AND A.MEMBER_ID LIKE '%${memberId}%'
				</if>
				<if test="id!=null and id !=''">
					AND A.ID = #{id}
				</if>
			</trim>
		</where>
		<if test="page != -1">
		<![CDATA[ ) T WHERE ROWNUM <=#{page}*#{rows} ) D WHERE D.RN > ((#{page}-1)*#{rows}) ]]>
		</if>
	</select>
	<!-- 根据条件查询数量 -->
	<select id="getTotal" resultType="Integer" parameterType="sysUser">
	<![CDATA[
	SELECT COUNT(1) FROM
			(SELECT * FROM SYS_USER A
	]]>
		<where>
			<!-- 用来处理如果where后面是以and开头的条件,那么可以自动去掉and -->
			<trim>
				<!-- 根据if用OGNL表达式来判断字段是否为空来显示Sql语句 -->
				<if test="userName != null and userName !=''">
					AND A.USER_NAME LIKE '%${userName}%'
				</if>
				<if test="realName != null and realName !=''">
					AND A.REAL_NAME LIKE '%${realName}%'
				</if>
				<if test="deptName != null and deptName !=''">
					AND A.DEPT_NAME LIKE '%${deptName}%'
				</if>
				<if test="memberId != null and memberId !=''">
					AND A.MEMBER_ID LIKE '%${memberId}%'
				</if>
				<if test="id!=null and id !=''">
					AND A.ID = #{id}
				</if>
			</trim>
		</where>
		) T
	</select>
	<select id="getById" resultMap="sysUserMap">
		<![CDATA[SELECT * FROM SYS_USER WHERE ID=#{id}]]>
	</select>
	<!-- 根据手机号码查询用户 -->
	<select id="getSysUserByPhone" resultMap="sysUserMap" parameterType="java.lang.String">
		<![CDATA[SELECT * FROM SYS_USER WHERE PHONE=#{phone}]]>
	</select>
	<!-- 根据用户名查询用户 -->
	<select id="getSysUserByUserName" resultMap="sysUserMap" parameterType="java.lang.String">
		<![CDATA[SELECT * FROM SYS_USER WHERE USER_NAME=#{userName}]]>
	</select>
	<insert id="insert" parameterType="sysUser" useGeneratedKeys="true" keyProperty="id">
	   <selectKey keyProperty="id" resultType="String" order="BEFORE">
        SELECT SYS_GUID() FROM DUAL
       </selectKey>
		INSERT INTO SYS_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			  ID,
	          <if test="userName !=null and userName !=''">
	                USER_NAME,
	          </if>
	          <if test="realName !=null and realName !=''">
	                REAL_NAME,
	          </if>
	          <if test="memberId !=null and memberId !=''">
	                MEMBER_ID,
	          </if>
	          <if test="status !=null and status >0">
	                STATUS,
	          </if>
	          <if test="jobTitle !=null and jobTitle !=''">
	                JOB_TITLE, 
	          </if>
	          <if test="mail !=null and mail !=''">
	                MAIL, 
	          </if>
	          <if test="pwd !=null and pwd !=''">
	                PWD, 
	          </if>
	          <if test="photoUrl !=null and photoUrl !=''">
	                PHOTO_URL, 
	          </if>
	          <if test="token !=null and token !=''">
	                TOKEN, 
	          </if>
	          <if test="personalQQ !=null and personalQQ !=''">
	                PERSONAL_QQ, 
	          </if>
	          <if test="enterpriseQQ !=null and enterpriseQQ !=''">
	                ENTERPRISE_QQ, 
	          </if>
	          <if test="phone !=null and phone !=''">
	                PHONE, 
	          </if>
	          <if test="workPhone !=null and workPhone !=''">
	                WORK_PHONE, 
	          </if>
	          <if test="extension !=null and extension !=''">
	                EXTENSION, 
	          </if>
	          <if test="superiorId !=null and superiorId !=''">
	                SUPERIOR_USER_ID, 
	          </if>
	          <if test="deptName !=null and deptName !=''">
	                DEPT_NAME, 
	          </if>
	          <if test="deviceToken !=null and deviceToken !=''">
	                DEVICE_TOKEN, 
	          </if>
	          <if test="creatorId !=null and creatorId !=''">
	                CREATOR_ID, 
	          </if>
	                CREATOR_DATE, 
	          <if test="updateId !=null and updateId !=''">
	                UPDATE_ID, 
	          </if>
	                UPDATE_DATE, 
         </trim>
         <trim prefix="values (" suffix=")" suffixOverrides=",">
			  #{id},
	          <if test="userName !=null and userName !=''">
	               #{userName},
	          </if>
	          <if test="realName !=null and realName !=''">
	               #{realName},
	          </if>
	          <if test="memberId !=null and memberId !=''">
	                #{memberId},
	          </if>
	          <if test="status !=null and status >0">
	                #{status},
	          </if>
	          <if test="jobTitle !=null and jobTitle !=''">
	                #{jobTitle},
	          </if>
	          <if test="mail !=null and mail !=''">
	                #{mail},
	          </if>
	          <if test="pwd !=null and pwd !=''">
	                #{pwd},
	          </if>
	          <if test="photoUrl !=null and photoUrl !=''">
	                #{photoUrl},
	          </if>
	          <if test="token !=null and token !=''">
	                #{token},
	          </if>
	          <if test="personalQQ !=null and personalQQ !=''">
	                #{personalQQ},
	          </if>
	          <if test="enterpriseQQ !=null and enterpriseQQ !=''">
	                #{enterpriseQQ},
	          </if>
	          <if test="phone !=null and phone !=''">
	                #{phone},
	          </if>
	          <if test="workPhone !=null and workPhone !=''">
	                #{workPhone},
	          </if>
	          <if test="extension !=null and extension !=''">
	                #{extension},
	          </if>
	          <if test="superiorId !=null and superiorId !=''">
	                #{superiorId},
	          </if>
	          <if test="deptName !=null and deptName !=''">
	                #{deptName},
	          </if>
	          <if test="deviceToken !=null and deviceToken !=''">
	                #{deviceToken},
	          </if>
	          <if test="creatorId !=null and creatorId !=''">
	                #{creatorId},
	          </if>
	                SYSDATE,
	          <if test="updateId !=null and updateId !=''">
	                #{updateId},
	          </if>
	                SYSDATE, 
         </trim>
	</insert>
	<delete id="deleteById" parameterType="sysUser">
		<![CDATA[DELETE FROM SYS_USER WHERE ID=#{id}]]>
	</delete>
	<update id="update" parameterType="sysUser">
		 UPDATE SYS_USER 
		 <set>
	          <if test="userName !=null and userName !=''">
	                USER_NAME=#{userName},
	          </if>
	          <if test="realName !=null and userName !=''">
	                REAL_NAME=#{realName},
	          </if>
	          <if test="memberId !=null and memberId !=''">
	                MEMBER_ID=#{memberId},
	          </if>
	          <if test="status !=null and status >0">
	                STATUS=#{status},
	          </if>
	          <if test="jobTitle !=null and jobTitle !=''">
	                JOB_TITLE=#{jobTitle},
	          </if>
	          <if test="mail !=null and mail !=''">
	                MAIL=#{mail},
	          </if>
	          <if test="pwd !=null and pwd !=''">
	                PWD=#{pwd},
	          </if>
	          <if test="photoUrl !=null and photoUrl !=''">
	                PHOTO_URL=#{photoUrl},
	          </if>
	          <if test="token !=null and token !=''">
	                TOKEN=#{token},
	          </if>
	          <if test="personalQQ !=null and personalQQ !=''">
	                PERSONAL_QQ=#{personalQQ},
	          </if>
	          <if test="enterpriseQQ !=null and enterpriseQQ !=''">
	                ENTERPRISE_QQ=#{enterpriseQQ},
	          </if>
	          <if test="phone !=null and phone !=''">
	                PHONE=#{phone},
	          </if>
	          <if test="workPhone !=null and workPhone !=''">
	                WORK_PHONE=#{workPhone},
	          </if>
	          <if test="extension !=null and extension !=''">
	                EXTENSION=#{extension},
	          </if>
	          <if test="superiorId !=null and superiorId !=''">
	                SUPERIOR_USER_ID=#{superiorId},
	          </if>
	          <if test="deptName !=null and deptName !=''">
	                DEPT_NAME=#{deptName},
	          </if>
	          <if test="deviceToken !=null and deviceToken !=''">
	                DEVICE_TOKEN=#{deviceToken},
	          </if>
	          <if test="creatorId !=null and creatorId !=''">
	                CREATOR_ID=#{creatorId},
	          </if>
	                CREATOR_DATE=SYSDATE,
	          <if test="updateId !=null and updateId !=''">
	                UPDATE_ID=#{updateId},
	          </if>
	                UPDATE_DATE=SYSDATE 
         </set> 
         where id=#{id}
	</update>
</mapper>
