<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.et.mapper.system.SysUserRoleMapper">
	<resultMap id="sysUserRoleMap" type="sysUserRole">
		<id property="id" column="ID" />
		<id property="userId" column="USER_ID" />
		<id property="roleId" column="ROLE_ID" />
		<id property="status" column="STATUS" />
		<id property="creatorDate" column="CREATOR_DATE" />
		<id property="creatorId" column="CREATOR_ID" />
		<id property="updateId" column="UPDATE_ID" />
		<id property="updateDate" column="UPDATE_DATE" />
	</resultMap>
	<sql id="column_list">
        ID,USER_ID,ROLE_ID,STATUS,CREATOR_DATE,CREATOR_ID,UPDATE_ID,UPDATE_DATE
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="sysUserRoleMap">
		SELECT
		<include refid="column_list" />
		FROM SYS_USER_ROLE
		<where>
			<trim>
		      <if test="id != null and id !=''">
	          ID=#{id}
	          </if>
		      <if test="userId != null and userId !=''">
	          AND USER_ID=#{userId}
	          </if>
		      <if test="roleId != null and roleId !=''">
	          AND ROLE_ID=#{roleId}
	          </if>
		      <if test="status != null and status >0">
	          AND STATUS=#{status}
	          </if>
		      <if test="creatorDate != null and creatorDate !=''">
	          AND CREATOR_DATE=#{creatorDate}
	          </if>
		      <if test="creatorId != null and creatorId !=''">
	          AND CREATOR_ID=#{creatorId}
	          </if>
		      <if test="updateId != null and updateId !=''">
	          AND UPDATE_ID=#{updateId}
	          </if>
		      <if test="updateDate != null and updateDate !=''">
	          AND UPDATE_DATE=#{updateDate}
	          </if>
			</trim>
		</where>
	</select>
	<!-- 根据id获取 -->
	<select id="getById" resultMap="sysUserRoleMap">
		SELECT <include refid="column_list" /> FROM SYS_USER_ROLE WHERE ID=#{id}
	</select>
	<select id="getByUserAndRoleId" resultMap="sysUserRoleMap">
		SELECT <include refid="column_list" /> FROM SYS_USER_ROLE WHERE USER_ID=#{userId} AND ROLE_ID=#{roleId}
	</select>
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="sysUserRole">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT SYS_GUID() FROM DUAL
		</selectKey>
		INSERT INTO SYS_USER_ROLE
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="id != null and id !=''">
				ID,
			</if>
		    <if test="userId != null and userId !=''">
				USER_ID,
			</if>
		    <if test="roleId != null and roleId !=''">
				ROLE_ID,
			</if>
		    <if test="status != null and status >0">
				STATUS,
			</if>
		    <if test="creatorDate != null and creatorDate !=''">
				CREATOR_DATE,
			</if>
		    <if test="creatorId != null and creatorId !=''">
				CREATOR_ID,
			</if>
		    <if test="updateId != null and updateId !=''">
				UPDATE_ID,
			</if>
		    <if test="updateDate != null and updateDate !=''">
				UPDATE_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		    <if test="id != null and id !=''">
		    #{id},
			</if>
		    <if test="userId != null and userId !=''">
		    #{userId},
			</if>
		    <if test="roleId != null and roleId !=''">
		    #{roleId},
			</if>
		    <if test="status != null and status >0">
		    #{status},
			</if>
		    <if test="creatorDate != null and creatorDate !=''">
		    #{creatorDate,jdbcType= DATE,javaType= java.util.Date},
			</if>
		    <if test="creatorId != null and creatorId !=''">
		    #{creatorId},
			</if>
		    <if test="updateId != null and updateId !=''">
		    #{updateId},
			</if>
		    <if test="updateDate != null and updateDate !=''">
		    #{updateDate,jdbcType= DATE,javaType= java.util.Date},
			</if>
		</trim>
	</insert>
	<!-- 根据id删除数据 -->
	<delete id="deleteById" parameterType="sysUserRole">
		<![CDATA[DELETE FROM SYS_USER_ROLE WHERE ID=#{id}]]>
	</delete>
	<!-- 根据id更新数据 -->
		<update id="update" parameterType="sysUserRole">
		UPDATE SYS_USER_ROLE
		<set>
		    <if test="id != null and id !=''">
		     ID=#{id},
			</if>
		    <if test="userId != null and userId !=''">
		     USER_ID=#{userId},
			</if>
		    <if test="roleId != null and roleId !=''">
		     ROLE_ID=#{roleId},
			</if>
		    <if test="status != null and status >0">
		     STATUS=#{status},
			</if>
		    <if test="creatorDate != null and creatorDate !=''">
		     CREATOR_DATE=#{creatorDate,jdbcType= DATE,javaType= java.util.Date},
			</if>
		    <if test="creatorId != null and creatorId !=''">
		     CREATOR_ID=#{creatorId},
			</if>
		    <if test="updateId != null and updateId !=''">
		     UPDATE_ID=#{updateId},
			</if>
		    <if test="updateDate != null and updateDate !=''">
		     UPDATE_DATE=#{updateDate,jdbcType= DATE,javaType= java.util.Date},
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	<!-- 根据传入多个id删除数据 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM SYS_USER_ROLE WHERE ID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>
