<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 如果在接口绑定里面,接口里面不写Sql语句,sql写在当前映射文件,那么namespace必须是接口的全路径名 -->
<mapper namespace="com.et.bean.Mail">
	<!-- 查询所有 -->
	<select id="getAll" resultType="mail">
		<![CDATA[select * from mail ]]>
	</select>
	<select id="getById" resultType="mail">
		<![CDATA[select * from mail where id=#{id}]]>
	</select>
	<insert id="insert" parameterType="mail">
		<![CDATA[INSERT INTO mail(title,content,send_id,send_date) VALUES(#{title},#{content},#{send_id},sysdate)]]>
	</insert>
	<delete id="deleteById" parameterType="mail">
		<![CDATA[delete from mail where id=#{id}]]>
	</delete>
	<update id="updateById" parameterType="mail">
		<![CDATA[update mail set content=#{content}]]>
	</update>
</mapper>
