<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 如果在接口绑定里面,接口里面不写Sql语句,sql写在当前映射文件,那么namespace必须是接口的全路径名 -->
<mapper namespace="com.et.bean.Student">
	<!-- 查询所有 -->
	<select id="getAll" resultType="student">
		<![CDATA[select * from student ]]>
	</select>
	<!-- 根据条件分页查询 oracle -->
	<!-- <select id="findPage" resultType="student" parameterType="student"> 
		<![CDATA[ SELECT D.* FROM (SELECT T.*, ROWNUM RN FROM ( SELECT * FROM STUDENT 
		A ]]> <where> <trim> <if test="name != null and name !=''"> AND A.name LIKE 
		'%${name}%' </if> <if test="age !=null and age >0"> AND A.age = #{age} </if> 
		<if test="id!=null and id>0"> AND A.ID = #{id} </if> </trim> </where> 
		<![CDATA[ ) T WHERE ROWNUM <=#{page}*#{rows} ) D WHERE D.RN > ((#{page}-1)*#{rows}) 
		]]> </select> -->
	<!-- 根据条件分页查询 mysql -->
	<select id="findPage" resultType="student" parameterType="student">
		<![CDATA[
SELECT * FROM STUDENT A
	]]>
		<where>
			<trim>
				<if test="name != null and name !=''">
					AND A.name LIKE '%${name}%'
				</if>
				<if test="age !=null and age >0">
					AND A.age = #{age}
				</if>
				<if test="id!=null and id>0">
					AND A.ID = #{id}
				</if>
			</trim>
		</where>
		LIMIT ${first},${rows}
	</select>
	<!-- 根据条件查询数量 -->
	<select id="getTotal" resultType="Integer" parameterType="student">
	<![CDATA[
	SELECT COUNT(1) FROM
			(SELECT * FROM STUDENT A
	]]>
		<where>
			<trim>
				<if test="name != null and name !=''">
					AND A.name LIKE '%${name}%'
				</if>
				<if test="age !=null and age >0">
					AND A.age = #{age}
				</if>
				<if test="id!=null and id>0">
					AND A.ID = #{id}
				</if>
			</trim>
		</where>
		) T
	</select>
	<select id="getById" resultType="student">
		<![CDATA[select * from student where id=#{id}]]>
	</select>
	<select id="insert" parameterType="student">
		<![CDATA[INSERT INTO student(NAME,age) VALUES(#{name}, #{age})]]>
	</select>
	<select id="deleteById" parameterType="student">
		<![CDATA[delete from student where id=#{id}]]>
	</select>
	<select id="updateById" parameterType="student">
		<![CDATA[update student set name=#{name},age=#{age} where id=#{id}]]>
	</select>
	<select id="selectCount" parameterType="student" resultType="int">
		<![CDATA[select count(1) from student]]>
		<where>
			<!-- 用来处理如果where后面是以and开头的条件,那么可以自动去掉and -->
			<trim>
				<!-- 根据if用OGNL表达式来判断字段是否为空来显示Sql语句 -->
				<if test="name!=null">
					and name =#{name}
				</if>
				<if test="age!=null">
					and age =#{age}
				</if>
			</trim>
		</where>
	</select>
</mapper>
